#available-players {
    display: flex;
    flex-wrap: wrap;
}

#available-players section {
    flex-basis: 20%;
    flex-wrap: wrap;
    text-align: center;
}

img {
    width: 100px;
    display: flex;
    margin:auto;
}